*  { 
    margin: 0; 
    box-sizing: border-box; 
    text-align: center;
 }
 
 header {
     color: black;
     background-color: white;
     font-size: 2rem;
     font-family: 'Raleway', sans-serif;
 }
 
 header img, .headings {
     display: inline-block;
     vertical-align: middle;
     margin: 10px;
 }
 
 .logo {
 height: 8rem;
 }
 
 .motto {
     font-size: .5em;
     line-height: 2rem;
 }
 
 nav {
     color: #FFF;
     background-color: #5FC9DC;
     font-size: 1.375em;
     font-family: 'Raleway', sans-serif;
 }

nav li{
    display: none;
}
 
nav li:first-child{
    display: block;
}

.responsive li{
    display: block;
}

 nav a {
 color: #FFF;
 text-decoration: none;
 }
 
 #current-page {
 background-color: #80CEEC;
 }
 
 li:hover {
 background-color: #FFF;
 }
 
 li:hover a {
 color: #FFAD05;
 background-color: #FFF;
 }
 
 nav ul {
 list-style: none;
 display: inline;
 }
 
 
 
 